* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feature-card {
  width: 350px;
  height: 400px;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  padding: 30px;
  margin: 10px;
  margin-top: 20px;
  /* background: linear-gradient(45deg, #29ffed 0%, #d260ff 99.99%); */
  background-color: #79b4f6;
  box-shadow: #79b4f6 0px 5px 15px;
}

.feature-card img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  border: 5px white solid;
}

.feature-card h3 {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 500;
}

.feature-card:hover {
  transform: scale(1.04);
}
