* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

a {
	text-decoration: none;
}

.header-main-div {
	width: 100%;
	overflow-x: visible;
	z-index: 100;
}

.header-body {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: linear-gradient(270deg, #29ffed 0%, #d260ff 99.99%);
	height: 80px;
}

/* Header Animation */
.header-body-title{
	display: flex;
	animation: title-animation 1s;
}

@keyframes title-animation {
  0% {
    transform: translate(-20px);
    opacity: 0;
  }
}

/* Header Logo  */
.header-logo{
	position: relative;
	height: 35px;
	width: 35px;
	margin: 5px;
	margin-right: 10px;
	border-radius: 100%;
}

.header-body-title a {
	font-weight: 900;
	font-size: 30px;
	color: white !important;
}

.header-dropdown-button {
	display: none;
}

.header-buttons {
	overflow: visible;
	display: flex;
}

.header-body-components {
	display: flex;
}

.header-body-components-item {
	margin-left: 10px;
	padding: 10px 20px;
	background-color: orange;
	border-radius: 100px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}
.header-body-components-item:hover {
	animation: wiggle 1s infinite;
}

.header-dropdown {
	display: none;
}

.header-dropdown-items {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: white 1px solid;
	width: 70%;
	margin-left: 15%;
	font-size: 20px;
	font-weight: 500;
	color: white;
}

@media screen and (max-width: 500px) {
	.header-buttons {
		display: none;
	}

	.header-body-components {
		display: none;
	}

	.header-dropdown-button {
		display: block;
		width: 40px;
		background-color: orange;
		border: none;
		border-radius: 100px;
		font-size: 25px;
		font-weight: 500;
	}
	.header-dropdown {
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
		overflow: hidden;
		height: 0px;
	}
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	16.66% {
		transform: rotate(5deg);
	}
	33.33% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(0deg);
	}
}

@keyframes drop-down-animation {
	0% {
		height: 0px;
	}
	100% {
		height: 119px;
	}
}

@keyframes drop-up-animation {
	0% {
		height: 119px;
	}
	100% {
		height: 0px;
	}
}
